:root{
--background: #06140b;
--primary: #12335e;
--secondary: #15625e;
--btn-l: #2c2fcc;
--btn-r: #a51629;
--text: rgb(253, 253, 253);
--nav-color: #26d80f;
--el-nucba: rgb(58, 34, 3);
--monitor: rgba(20, 13, 14, 0.774);
--cards-txt: rgb(112, 177, 233);
}
@media (max-width: 1200px){
    .navbar{
    width: 95%;
    }
      .img{
        width: 50px;
        height: 50px;
        
    }
    .img, img, ul{
        gap: 40px;
    }
    main{
        width:95%;
    }
    #hero{
        flex-wrap: nowrap;
        text-align: center;
        margin: 20px;
        padding: 20px;

    }
    .hero-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Josefin Sans', sans-serif;
        gap: 20px;
        width: 100%;
        
    }
    .hero-info h1{
        font-size: 50px;
        width: 400px;
        font-weight: 700;
        color: var(--text);
        
    }
    .hero-info .links {
        display: flex;
        justify-content:center;  
      /*  border-radius: 15px;*/
        gap: 30px;
        
    }
    #hero{
        gap: 15px;
    }
    .hero_img img{
        width: 450px;
        background: var(--monitor);
        padding: 20px;
        position: relative;
        left: 50px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
 }
   
    .hero-info p{
        font-size: 17px;
        align-items: center;
    }
    .hero-info p span{
        font-weight: 700;
        color: var(--monitor);
    }
    .hero-info .link, button {
        display: flex;
        justify-content: space-around;
        width: 150px;
        height: 60px;
        border-radius: 20px;
        font-weight: 700;
        /*opacity: 0.9 ;*/
        background-color: var(--btn-l);
        gap: 200px;
        position: relative;
        top: 60px;
    }
    .hero-info .links, button >a{
        font-size: 30px;
        position: relative;
        font-family: 'Josefin Sans', sans-serif;
        top: 15px;
        gap: 50px;
    }  
    .noticia a{
         color: var(--cards-txt);
         text-decoration: underline;
    }  
    .podcasto a{
        color:aquamarine ;
    }
    /* contacto section*/

    .contacto h1{
        position: relative;
        left: 15rem;
  }
  .cont ul  {
      
      padding: 15px;
      width: 300px;
      height: 350px;
      flex-wrap: wrap;
      border-radius: 15px;
  }
  .cont ul li{
      display: flex;
      gap: 10px;
      font-size: 20px;
  }
  .cont ul li a{
      color: white;
  
  }
  
  .cont ul li i{
      width: 35px;
      height: 35px;
      overflow: hidden;
      position: relative;
      top: 2px;
      height: 18px;
      background-color: black;
      border-radius: 30px;
      transition: all.4s;
  }
  .contul ul li i:hover{
   width: 10px;
   height: 100px;
  }
  .cont ul span{
      font-size: 25px;
  }
  .cont-img img{
      width: 300px;
      border-radius: 180px;
      position: relative;
      left: 0px;
      top: 6rem;
  }
  /*aca hay que hacer un comando par que corra la imagen*/
  .logo-emp img{
      width: 70px;
      height: 70px;
  } 
  .cont-img{
    animation: cont-img 5s infinite;
}
@keyframes cont-img{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(100%);
    }
}
    
}    

@media (max-width: 992px){
    *{
        padding: 0;
        margin: 0;
    }
    /*navbar*/
    header{
        padding: 0;
        margin: 0;
        position: relative;
        left: -7px;
        
    }
    .img{
        width: 50px;
        height: 50px;
        
    }
    .img, img, ul{
        gap: 40px;
    }
    /*main*/
    main{
        width: 95%;
        position: relative;
        left: -7px;
    }
    #hero{
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
        padding: 0;
        gap: 0;

    }
    .hero-info{
        display: flex;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        gap: 20px;
        width: 100%;

        
    }
    #hero .hero-info h1{
        width: 500px;
        height: 200px;
        position: relative;
        top: 5rem;
        left: 9rem;
        
    }
    .hero-info .links {
        display: flex;
        justify-content:center;  
      /*  border-radius: 15px;*/
        gap: 30px;
        
    }
    .hero_img img{
        width: 450px;
        background: var(--monitor);
        padding: 20px;
        position: relative;
        left: 0;
        top: 8rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
 }
   
    .hero-info p{
        font-size: 25px;
        align-items: center;
    }
    .hero-info p span{
        font-weight: 700;
        color: var(--monitor);
    }
    .hero-info h1{
        position: relative;
        left: 200px;
    }
    .hero-info .link, button {
        display: flex;
        justify-content: space-around;
        width: 150px;
        height: 60px;
        border-radius: 20px;
        font-weight: 700;
        /*opacity: 0.9 ;*/
        background-color: var(--btn-l);
        gap: 200px;
        position: relative;
        top: 60px;
    }
    .hero-info .links, button >a{
        font-size: 30px;
        position: relative;
        font-family: 'Josefin Sans', sans-serif;
        top: 15px;
        gap: 50px;
    }   
    
    #text {
        position: relative;
        top: 16rem;
    }
    /*cards section*/ 
    #cards {
        position: relative;
        top: 10rem
    }
    
    .noticia a{
        font-size: 25px;
        color:var(--cards-txt);
        text-decoration: underline;
    }
    .podcast{ /*hay que reveer toda esta parte*/
        height: 80px;
        width: 300px;
        overflow: hidden;
        transition: all .5s;
    }
    .podcast:hover{
        width: 700px;
        height: 750px;
        position: relative;
        left: 20px;
    }
    .podcast:hover h3{
        position: relative;
        left: 90px;
        font-size: 25px;
    }
    .noticia{
        height: 80px;
        width: 300px;
        overflow: hidden;
        transition: all .5s;
    }
    .noticia:hover{
         width: 500px;
         height: 580px;
         position: relative;
         right: 20px;
         font-weight: 600;
    }
    .podcast h3{
        width: 70%;
        font-size: 18px;
        position: relative;
        left: 3rem;
    }
    .podcasto-section{
        flex-wrap: wrap;
    }
    .podcasto a{
        font-size: 17px;
        color: aquamarine;
    }
    
    /* contactos section*/
    .contacto h1{
       position: relative;
       left: 6rem;
    }
    .contacts{
        gap: 0;
    }
    .cont-img img{
        width: 190px;
    }
    .cont-img{
        position: relative;
        left: -1rem;
    }
    .cont-img{
        animation: cont-img 5s infinite;
    }
    @keyframes cont-img{
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(100%);
        }
    }
    }
@media (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
    }
    
    /*navbar sectiion*/

    .navbar {
        width: 94%;
        font-size: 10px;
        gap: 2px;
    }
    .navbar i{
        display: flex;
        font-size: 30px;
    }

    .navbar-list{
        background:#26d80f;
        width: calc(95% - 500px);
        border-radius: 15px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        display: none;
        transition: all .4s;
        z-index: 2;
    }
     .navbar-list{
        animation: navbar-list 4s alternate-reverse ;
    } 
    @keyframes navbar-list {
        0%{
            transform: translateX(-200%)
        }
        100%{    
            transform: translateX(215%)
        }
    } 
    .navbar-list li{
            font-size: 18px;
            position: relative;
            top: -10px;
    }
    
    /*.navbar-list .img{
        display: flex;
        position: relative;
        right: 122px;
        top: -7px;
    }*/
    #burg-bar:checked ~ .navbar-list{
        display: flex;
    }
    #burg-bar{
        width: 40px;
    }
    #burg-bar2{
        display: none;
    }
   /* ul i{
        position: relative;
        bottom: -180px;
        left:  70px;
    }
    /*.img{
        width: 50px;
        height: 50px;
    }*/
    .img, img, ul{
        gap: 15px;
    }
    
    
    /*main section */


    main{
        width: 94%;
        
    }
    #hero{
        flex-wrap: wrap;
        position: relative;
        /*top: 50px;*/

    }
    .hero-info{
        width: 740px;
        position: relative;
        left: -30px;
        top: 80px;
        display: flex;
        text-align: center;
        justify-content: center;

    }
    #hero .hero-info h1{
        position: relative;
        top: -15px;
        left: 120px;
        width: 35rem;
        font-size: 40px;
        font-weight: 700;
        color: var(--text);   
    }

    .hero-info p{
        position: relative;
        left: 3rem;
        top: -7rem;
        width: 700px;
        font-size: 22px;
    
    }
    .hero-info p span{
        font-weight: 700;
        color: var(--monitor);
    }
    .hero-info .links .link  {
        gap: 200px;
        position: relative;
        left: 25px;
        top: -2rem;

    }
    .hero-info .links, button >a{
        font-size: 15px;
        position: relative;
        font-family: 'Josefin Sans', sans-serif;
        top: 7px;
        gap: 50px;
    } 
  
    .hero_img img{
        width: 350px;
        background: var(--monitor);
        padding: 20px;
        position: relative;
        top: 180px;
        left: 0;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
 } 

    /* cards section*/
    
    .noticia a{
        font-size: 28px;
        text-decoration: underline;
        color: rgba(42, 143, 231, 0.5);
    }
    .podcast{ /*hay que reveer toda esta parte*/
        height: 80px;
        width: 300px;
        overflow: hidden;
        transition: all .5s;
    }
    .podcast:hover{
        width: 700px;
        height: 650px;
        position: relative;
        left: 20px;
    }
    .podcast:hover h3{
        position: relative;
        left: 70px;
        font-size: 25px;
    }
    .noticia{
        height: 80px;
        width: 300px;
        overflow: hidden;
        transition: all .5s;
    }
    .noticia:hover{
         width: 500px;
         height: 580px;
         position: relative;
         right: 20px;
         font-weight: 600;
    }
    .podcast h3{
        width: 70%;
        font-size: 18px;
        position: relative;
        left: 3rem;
    }
    .podcasto-section{
        flex-wrap: wrap;
    }
    .podcasto a{
        font-size: 17px;
        color: aquamarine;
    }
    
    /* contacto section*/

    .contacto h1{
          position: relative;
          left: 25px;
    }
    .cont ul  {
        
        padding: 15px;
        width: 200px;
        height: 250px;
        flex-wrap: wrap;
        border-radius: 15px;
    }
    .cont ul li{
        display: flex;
        gap: 10px;
        font-size: 15px;
    }
    .cont ul li a{
        color: white;
    
    }
    
    .cont ul li i{
        width: 30px;
        height: 30px;
        overflow: hidden;
        position: relative;
        top: 2px;
        height: 18px;
        background-color: black;
        border-radius: 30px;
        transition: all.4s;
    }
    .contul ul li i:hover{
     width: 10px;
     height: 100px;
    }
    .cont ul span{
        font-size: 25px;
    }
    .cont-img img{
        width: 230px;
        border-radius: 180px;
        position: relative;
        left: 0px;
        top: 50px;
    }
    /*aca hay que hacer un comando par que corra la imagen*/
    .logo-emp img{
        width: 50px;
        height: 50px;
    }
}

@media (max-width:576px){

    /*navbar sectiion*/

    .navbar {
        width: 92%;
        font-size: 10px;
        gap: 2px;
    }
    .navbar i{
        display: flex;
        font-size: 30px;
    }
   
    .navbar-list{
        background:#26d80f;
        width: 130px;
        border-radius: 15px;
        height: 200px;
        position: absolute;
        top: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        display: none;
        transition: all .4s;
        z-index: 2;
    }
    /*.navbar-list:hover{
        background-image: linear-gradient(to bottom, #26d80f, #06140b);
        width: 90%;
        height: 500px;*/
    
    .navbar-list li{
            font-size: 18px;
            position: relative;
            top: -10px;
    }
    
    /*.navbar-list .img{
        display: flex;
        position: relative;
        right: 122px;
        top: -7px;
    }*/
    #burg-bar:checked ~ .navbar-list{
        display: flex;
    }
    #burg-bar{
        width: 40px;
    }
    #burg-bar2{
        display: none;
    }
   /* ul i{
        position: relative;
        bottom: -180px;
        left:  70px;
    }
    /*.img{
        width: 50px;
        height: 50px;
    }*/
    .img, img, ul{
        gap: 15px;
    }
    
    
    /*main section */


    main{
        width: 92%;
        
    }
    #hero{
        width: 500px;
        flex-wrap: wrap;
        position: relative;

    }
    .hero-info{
        position: relative;
        right: 60px;
        top: 80px;
        display: flex;
        text-align: center;
        justify-content: center;

    }
    #hero .hero-info h1{
        position: relative;
        top: 0;
        left: 35px;
        width: 35rem;
        font-size: 40px;
        font-weight: 700;
        color: var(--text);   
    }

    .hero-info p{
        width: 500px;
        position: relative;
        left: 60px;
        font-size: 25px;
    
    }
    .hero-info p span{
        font-weight: 700;
        color: var(--monitor);
    }
    .hero-info .link, button {
        gap: 200px;
        position: relative;
        left: 30px;
        top: 60px;

    }
    .hero-info .links, button >a{
        font-size: 15px;
        position: relative;
        font-family: 'Josefin Sans', sans-serif;
        top: 7px;
        gap: 50px;
    }   
    .hero_img img{
        width: 350px;
        background: var(--monitor);
        padding: 20px;
        position: relative;
        top: 140px;
        left: 0;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
 } 

    /* cards section*/
    
    .noticia a{
        font-size: 28px;
        text-decoration: underline;
        color: rgba(42, 143, 231, 0.5);
    }
    .podcast{ 
        height: 80px;
        width: 230px;
        overflow: hidden;
        transition: all .5s;
        gap: 100px;
    }
    .podcast:hover{
        width: 500px;
        height: 590px;
        position: relative;
        left: 20px;
    }
    .podcast:hover h3{
        position: relative;
        left: 3rem;
    }
    .noticia{
        height: 80px;
        width: 220px;
        overflow: hidden;
        transition: all .5s;
    }
    .noticia:hover{
         width: 500px;
         height: 640px;
         position: relative;
         right: 20px;
         font-weight: 600;
    }
    .podcast h3{
        width: 70%;
        font-size: 18px;
        position: relative;
        left: 2rem;
        
    }
    .podcasto-section{
        flex-wrap: wrap;
    }
    .podcasto a{
        font-size: 17px;
        color: aquamarine;
    }
    
    /* contacto section*/

    .contacto h1{
          position: relative;
          left: -65px;
    }
    .cont ul  {
        /*background: var(--background);*/
        padding: 15px;
        width: 200px;
        height: 250px;
        flex-wrap: wrap;
        border-radius: 15px;
    }
    .cont ul li{
        display: flex;
        gap: 10px;
        font-size: 15px;
    }
    .cont ul li a{
        color: white;
    
    }
    
    .cont ul li i{
        width: 30px;
        height: 30px;
        overflow: hidden;
        position: relative;
        top: 2px;
        height: 18px;
        background-color: black;
        border-radius: 30px;
        transition: all.4s;
    }
    .contul ul li i:hover{
     width: 10px;
     height: 100px;
    }
    .cont ul span{
        font-size: 25px;
    }
    .cont-img img{
        width: 50px;
        border-radius: 200px;
        position: relative;
        left: 150px;
        top: 50px;
    }
    .logo-emp img{
        width: 100px;
        height: 100px;
    }
}



    /*aca hay que hacer un comando par que corra la imagen*/