@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");
:root{
    --background: #06140b;
    --primary: #12335e;
    --secondary: #15625e;
    --btn-l: #2c2fcc;
    --btn-r: #a51629;
    --text: rgb(253, 253, 253);
    --nav-color: #0fe44f;
    --el-nucba: rgb(58, 34, 3);
    --monitor: rgba(20, 13, 14, 0.774);
    

 }
 html{
    background-color: var(--background);
 }
*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Instrument Serif', serif;
    text-decoration: none;
    list-style-type: none;
    
}
nav{

    margin: 30px ;
     display: flex;
   justify-content: space-around;
   font-family: 'Poltawski Nowy';
   align-items: center;
   background-color: var(--nav-color);
   border-radius: 20px;
   font-weight: 800;
   font-display: black;
 }
 .img {
    width: 80px;
 }
 
 ul{
     list-style: none;
     display: flex;
     gap: 50px;
 }
main{
    background-image: linear-gradient(to bottom, #0fe44f, #06140b);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);
    width: 100%;
    margin: 30px 30px;
    padding: 30px;
    overflow: hidden;
}

/* secciones */
#hero{
    margin-top: 65px;
    padding:  0 70px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 600px;
    gap: 100px;
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    /*gap: 20px;*/
    width: 100%;
    
}
.hero-info h1{
    font-size: 75px;
    width: 70%;
    min-width: 500px;
    font-weight: 700;
    color: var(--text);
    
}
.hero-info .links {
    display: flex;
    justify-content:center;  
  /*  border-radius: 15px;*/
    gap: 20px;
    
}
.hero_img img{
       width: 500px;
       background: var(--monitor);
       padding: 20px;
       border-radius: 15px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 20px;
}
.hero-info p span{
    font-weight: 700;
    color: var(--monitor);
}
.hero-info .link, button {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    font-weight: 700;
    opacity: 0.9 ;
    background-color: var(--btn-l);
    gap: 200px;
    position: relative;
    top: 60px;
}
.link2 {
 background-color: var(--btn-r);
}

/*.hero.info .link ,button:first-child{
    background-color: var(--btn-r);
}*/
.hero-info .links, button >a{
    font-size: 25px;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    top: 15px;
    gap: 100px;
}    
a:visited{
    color: #06140b;

}

#text{
    width: 100%;
    height: 150px;
    position: relative;
    background-color: var(--background);
    top: 50px;
    opacity: 0.7;
    border-radius: 15px;
    text-align: center;
    text-decoration: solid var(--text);
    font-size:  24px;
}
